@charset "UTF-8";

  /*
    Roxo da logo
    #5d16ec
    rgba(93,22,236,255)

    Roxo claro
    #914cfc
    rgb(145,76,252)
  */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }
    header {
      background-color: #5d16ec;
      color: white;
      padding: 40px 20px;
      text-align: center;
    }
    .intro {
      padding: 20px;
      text-align: center;
      background-color: #d7c1f8;
    }
    .blocos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      gap: 20px;
    }
    .bloco {
      background-color: #d7c1f8;
      border-radius: 10px;
      padding: 20px;
      width: 250px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .bloco h3 {
      margin-top: 0;
      color: #5d16ec;
    }